.edit-modal-submit-btn-wrapper {
  padding: 0;

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.edit-modal-tag-remove-btn {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;

  .tag-name {
    margin-right: 0.25rem;
  }
}
