.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link-brand {
  @extend a;
}

.wrapper {
  margin-top: $header-height;

  @include media-breakpoint-up(md) {
    margin-top: calc(#{$header-height} + 1rem);
  }
}

.guest-wrapper {
  background-color: rgba(0, 0, 40, 0.4);
  background-image: url('../images/landing_background.png');
  background-size: cover;
  min-height: calc(100vh - (#{$header-height} + #{$footer-height}));
  padding-bottom: 2rem;
  width: 100%;
}

.absolute-center-on-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-#{$header-height / 2});
}

a.card-link-mono {
  background-color: $body-background-color;

  &:hover {
    background-color: darken($body-background-color, $hover-background-darkener);
  }

  transition: 0.15s;
}

.btn-ui-secondary {
  color: $secondary-font-color;

  &:hover, &:active {
    color: darken($secondary-font-color, $hover-background-darkener);
  }
}

.pr-1 {
  padding-right: 0.25rem;
}

.btn-ui {
  &:focus {
    border: transparent;
  }
}
