/* global */
$body-background-color: #fff;
$body-font-color: #252A30;
$secondary-font-color: #8D9195;
$inactive-font-color: #DFE4E6;

$section-border-color: #DFE4E6;

$column-background-color: #fff;
$brand-color: #36ca6c;

$bootstrap-primary-color: $brand-color;
$bootstrap-secondary-color: #6c757d;

/* Bootstrapで使う色 */
$theme-colors: (
  primary: $bootstrap-primary-color,
  secondary: $bootstrap-secondary-color
);

/* modifiers */
$active-color-lightener: 10%;
$hover-background-darkener: 3%;

/* headers */
$header-background-color: $column-background-color;
$header-height: 56px;

/* footers */
$footer-height: 56px;

/* nweets */
$like-btn-color: #c73b31;
